.tutor-window{
    width: 75vw;
    margin: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
}
.tutor-container{
    font-size: 0;
    display: inline;
    white-space: nowrap;
    margin: 1vh;

}
.tutor-completed{
    color: gray;
    font-size: 4vh;
    white-space: pre-wrap;
}
.tutor-cursor{
    color: red;
    font-size: 4vh;
    text-decoration: underline;
    white-space: pre-wrap;

}
.tutor-uncompleted{
    color: black;
    font-size: 4vh;
    white-space: pre-wrap;

}
.result{
    font-size: 5vh;
}
